.table {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 10px;
  thead {
    display: block;
    width: 98%;
    margin: 0 auto;
    tr {
      width: 100%;
      display: block;
      height: 56px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   
      
      th {
          font-size: 22px;
          font-weight: 700;
          text-align: center;
           display: block;
        &:nth-child(1) {
            width: 60px;
        }
        &:nth-child(2) {
            width: 150px;
        }
        &:nth-child(3) {
            width: 200px;
        }
        &:nth-child(4) {
            width: 200px;
        }
        &:nth-child(5) {
            width: 200px;
        }
      }
    }
  }
  tbody {
    display: block;
    width: 98%;
    margin: 0 auto;

    tr {
      width: 100%;
      display: block;
      height: 56px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      td {
          text-align: center;
        display: block;
        &:nth-child(1) {
            width: 60px;
        }
        &:nth-child(2) {
            width: 150px;
        }
        &:nth-child(3) {
            width: 200px;
        }
        &:nth-child(4) {
            width: 200px;
        }
        &:nth-child(5) {
            width: 200px;
        }
      }
      &:nth-child(odd) {
        background-color: #dcdcdc;
      }
    }
  }
}


@media (max-width: 768px){
  .table {
    width: 200%;
    background-color: #f2f2f2;
    border-radius: 10px;
    thead {
      display: block;
      width: 98%;
      margin: 0 auto;
      tr {
        width: 100%;
        display: block;
        height: 56px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
     
        
        th {
            font-size: 22px;
            font-weight: 700;
            text-align: center;
          display: block;
          &:nth-child(1) {
              width: 60px;
          }
          &:nth-child(2) {
              width: 150px;
          }
          &:nth-child(3) {
              width: 300px;
          }
          &:nth-child(4) {
              width: 200px;
          }
          &:nth-child(5) {
              width: 200px;
          }
        }
      }
    }
    tbody {
      display: block;
      width: 98%;
      margin: 0 auto;
  
      tr {
        width: 100%;
        display: block;
        height: 56px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        td {
            text-align: center;
          display: block;
          &:nth-child(1) {
              width: 60px;
          }
          &:nth-child(2) {
              width: 150px;
          }
          &:nth-child(3) {
              width: 300px;
          }
          &:nth-child(4) {
              width: 200px;
          }
          &:nth-child(5) {
              width: 200px;
          }
        }
        &:nth-child(odd) {
          background-color: #dcdcdc;
        }
      }
    }
  }
}
